@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  
}
body{
  background: rgb(16, 12, 46);
  color: rgb(243, 243, 243);
  font-size: 14px;
  font-weight: 600;
  
}
.cutombox1{
  background-color:transparent;
  color:rgb(236, 236, 236);
  padding: 10px;
  border-radius: 10px;
}
.bg-dblue{
  background-color: rgb(16, 12, 46);
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
}
.bg-dblue:focus{
  background-color: rgb(16, 12, 46);
  border-bottom: 3px solid rgb(249, 249, 249);
  color: white;
}
.btnadd{
  background-color: rgb(16, 12, 46);
  padding: 5px 20px 5px 20px;
  color: white;
  border: 1px solid white;
}
.btnadd:hover{
 color: rgb(16, 12, 46);
 background-color: rgb(255, 255, 255);
 border: 1px solid rgb(15, 15, 75);
}
.divider{
  border-bottom: 1px solid rgba(192, 192, 192, 0.194);
  font-size: 0;

  border-top: 0;
}
.indent3{
  text-indent: 40px;
}

.underlined {
  position: relative;
  margin-right: 1rem;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 20px;
  width: 100%;
  border: solid 2px rgb(255, 255, 255);;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
  border-radius: 50%;
}

.todo{
  font-size: 30px;
  margin-bottom: 20px;
 
}
.todo span{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.black-gradient {
  background: #000000; /* fallback for old browsers */
  color: rgb(213, 235, 248);
  background: -webkit-linear-gradient(to right,#434343,#000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#434343,#000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pop{
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 0, 63, 0.891);
}
.popbox{
  max-width:500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: rgb(16, 12, 46);

}
.closebtn{
  padding: 3px;
  background-color: transparent;
  color: red;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  margin-left: auto;
}
.actionbtn{
  background-color: transparent;
  border: 0;
  padding: 3px;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*toggle button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(16, 12, 46);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}